@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --quetico-primary: #001826;
  --quetico-primary-light: #00294d;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.bg-quetico-primary {
  background-color: var(--quetico-primary);
}

.bg-quetico-primary-light {
  background-color: var(--quetico-primary-light);
}

.text-quetico-primary {
  color: var(--quetico-primary);
}

.text-quetico-primary-light {
  color: var(--quetico-primary-light);
}
